@font-face {
  font-family: "iconfont"; /* Project id 3994375 */
  src: url('//at.alicdn.com/t/c/font_3994375_36iyga63r2c.woff2?t=1680920234657') format('woff2'),
       url('//at.alicdn.com/t/c/font_3994375_36iyga63r2c.woff?t=1680920234657') format('woff'),
       url('//at.alicdn.com/t/c/font_3994375_36iyga63r2c.ttf?t=1680920234657') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-create-image:before {
  content: "\e623";
}

.icon-user:before {
  content: "\e682";
}

.icon-chat:before {
  content: "\e69d";
}
